.solid-lead-type {
  background-color: #E9F7F8;
  padding: 30px;
  h1 {
    margin-top: 80px;
    font-weight: bold;
    text-align: left;
  }
  h3 {
    margin: 30px 10px;
    text-align: left;
  }
  .solid-lead-img {
    background: url("../assets/images/product/solid-lead.png") no-repeat;
    background-size: cover;
    height: 50rem;
  }
}


