<footer>
    <div class="row footer">
        <div class="col-xs-12 text-center">
            <h1>Elcon Electronics Technology Co., Ltd</h1>
            <h4>Add：No. 1-1, Yingbin Road, Ruyuan Yaozu Autonomous County, Shaoguan, China 512000</h4>
            <h4>Tel：0751-6830668  Fax：0751-6830668</h4>
            <h5>Copyright &copy; 2016 Elcon | All Rights Reserved | Designed By Louis Huang</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center footerNav">
                <ul class="list-unstyled list-inline">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/product">Product</a></li>
                    <li><a href="#/customer">Customer</a></li>
                    <li><a href="#/news">News</a></li>
                    <li><a href="#/download">Download</a></li>
                    <li><a href="#/career">Career</a></li>
                    <li><a href="#/contact">Contact</a></li>
                </ul>
        </div>
    </div>
</footer>
