<div class="row">
  <div class="col-xs-12">

    <ul class="list-inline list-unstyled">
      <li><a href="#/home"><img src="assets/images/elcon-logo.jpg" alt="elcon logo"></a></li>
      <li class="pull-right"><a href="#/english">English</a></li>
      <li class="pull-right"><a href="#/chinese">中文版</a></li>
    </ul>
  </div>
</div>
<!--navbar-->
    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="nav navbar-nav">
            <li class="active"><a ng-href="#/home">Home</a></li>
            <li><a href="#/product">Product</a></li>
            <li><a href="#/customer">Customer</a></li>
            <li><a href="#/news">News</a></li>
            <li><a href="#/download">Download</a></li>
            <li><a href="#/career">Career</a></li>
            <li><a ng-href="#/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right acme-navbar-text">
          </ul>
        </div>
      </div>
    </nav>




