.snap-in-terminal-series {
  background-color: #E9F7F8;
  padding: 30px;
  h1 {
    margin-top: 120px;
    font-weight: bold;
    text-align: left;
  }
  h3 {
    margin: 30px 10px;
    text-align: left;
  }
  .snap-in-img {
    background: url("../assets/images/product/snap-in.png") no-repeat center;
    background-size: 100%;
    height: 50rem;
  }
}


