.about-cover {
  background: url("../assets/images/join-the-team-dark.jpg") center no-repeat;
  background-size: cover;
  color: white;
  height: 40rem;
  h1 {
    margin-bottom: 20px;
    font-size: 4em;
    color: white;
    top: 0;
    margin-top: 14rem;
  }
}

.certificate {
  padding: 3rem;
  span {
    background-color: white;
    padding: 0 20px;
    z-index: 2;
    position: relative;
  }
  h4 {
    margin-bottom: 60px;
    color: $text-color;
    font-size: 1.5em;
  }
}

//portrait

@media (min-width:300px) and (max-width:450px) and (orientation: portrait){
  .about-cover {
    height: 110px;
    h1 {
      margin-top: 3.5rem;
    }
  }
  .about {
    h1 {
      margin: 10px 0;
    }
    h1.title-line:before {
      top: 20px;
      width: 80%;
      left: 10%;
      height: 1px;
    }
  }
  .certificate {
    padding: 0 10px;
    margin-bottom: 10px;
    h1 {
      margin-top: 10px 0;
    }
    h1.title-line:before {
      top: 30px;
      width: 80%;
      left: 10%;
      height: 1px;
    }
    h4 {
      margin-bottom: 10px;
    }
  }
}

//landscape

@media (min-width:550px) and (max-width:750px) and (orientation: landscape) {
  .about-cover {
    height: 210px;
    h1 {
      margin-top: 8rem;
    }
  }
  .about {
    h1.title-line:before {
      top: 28px;
      width: 53%;
      left: 24%;
      height: 1px;
    }
  }
  .certificate {
    h1.title-line:before {
      top: 28px;
      width: 53%;
      left: 24%;
      height: 1px;
    }
  }
}
