.contact-cover {
  background: url("../assets/images/factory-3.jpg") no-repeat;
  background-size: cover;
  height: 40rem;
  color: white;
  h1 {
    margin-top: 11%;
    margin-bottom: 20px;
    font-size: 5em;
    color: white;
  }
}

.contact-form {
  padding: 30px;
  font-size: 1.5em;
  line-height: 2em;
  background-color: $light-gray;
  .send-btn {
    background-color: $main-green;
    color: white;
  }
  address {
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    height: 22.5rem;
  }
}

