    <div class="row text-center contact-cover">
        <div class="col-xs-12">
         <h1>Contact Us</h1>
            <h4>"Our professional team of customer care is ready to hear from you"</h4>
        </div>
    </div>
    <div class="row contact-form">
        <div class="hidden-xs hidden-sm col-xs-4 col-xs-offset-1">
            <form name="contactForm" data-ng-submit=""
            method="post" role="form">
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" class="form-control" id="fullName" data-ng-model="contactName" required/>
                </div>
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" data-ng-model="companyName" required/>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="name" class="form-control" id="email" data-ng-minlength="3" data-ng-model="email" required/>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="number" name="email" class="form-control" data-ng-minlength="3" id="phoneNumber" data-ng-model="phoneNumber" required/>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" data-ng-model="message"></textarea>
                </div>
                <button type="submit" class="btn btn-lg send-btn" value="send">Send</button>
            </form>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <address>
                        <p><strong>Elcon Electronics Technology (Shaoguan) Co., Ltd.</strong></p>
                        <p>Tel：0751-6830668</p>
                        <p>Fax：0751-6830668</p>
                        <p>Web：www.elcon-fsd.com</p>
                        <p> E-mail：<a href="mailto:#info@elcon-fsd.com">info@elcon-fsd.com</a></p>
                        <p>Add：No. 1-1, Yingbin Road, Ruyuan Yaozu Autonomous County,Shaoguan, Zip 512000 China</p>
                    </address>
                </div>
                <div class="col-xs-12 col-md-6">
                    <address>
                        <p><strong>Elcon Technology Limited</strong></p>
                        <p>Tel : 852-69451164</p>
                        <p>FAX : 852-23331569</p>
                        <p>Web：www.elconcap.com.tw</p>
                        <p>E-mail：<a href="mailto:#info@elcon-fsd.com">info@elcon-fsd.com</a></p>
                        <p>Add：Unit 901, 9/F, Hunghom Commercial Centre, Tower A, 39 Ma Tau Wei Road, Hunghom, Kln, Hong Kong</p>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <address>
                        <p><strong>Shenzhen Uni-Power Technology Co. Ltd.</strong></p>
                        <p>Tel : 0755-29022277</p>
                        <p>Fax : 0755-29022189</p>
                        <p>E-mail：<a href="mailto:#yy@uni-powercn.com">yy@uni-powercn.com</a></p>
                        <p>Add：Unit 601, 6/F, Cai Yue Building, No.24, Liuxian da dao, Longhua District, Shenzhen, China</p>
                    </address>
                </div>
                <div class="col-xs-12 col-md-6">
                    <address>
                    <p><strong>GTC Technologies Corporation</strong></p>
                    <p>Tel：886-2-25147896</p>
                    <p>Fax：886-2-25147893</p>
                    <p>E-mail：<a href="mailto:#sales@gtc-tech.com">sales@gtc-tech.com</a></p>
                    <p>Add：Rm.1426, 14F. No. 144, Sec. 3, Ming Chuan East Road, Taipei 105, Taiwan</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
