<!--<div ng-controller="ContactController">-->
    <div class="row text-center contact-cover">
        <div class="col-xs-12">
         <h1>Contact Us</h1>
            <h4>"Our professional team of customer care is ready to hear from you"</h4>
        </div>
    </div>
    <div class="row contact-form">
        <div class="col-xs-4 col-xs-offset-1">
            <form name="contactForm" data-ng-submit=""
            method="post" role="form">
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" class="form-control" id="fullName" data-ng-model="contactName" required/>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="name" class="form-control" id="email" data-ng-minlength="3" data-ng-model="email" required/>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="number" name="email" class="form-control" data-ng-minlength="3" id="phoneNumber" data-ng-model="phoneNumber" required/>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" data-ng-model="message"></textarea>
                </div>
                <button type="submit" class="btn btn-lg send-btn" value="send">Send</button>
            </form>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <p><strong>Elcon Electronics Technology (Shaoguan) Co., Ltd.</strong></p>
                        <p>Tel：0751-6830668</p>
                        <p>Fax：0751-6830668</p>
                        <p>Web：www.elconcap.com</p>
                        <p> E-mail：<a href="mailto:#info@elconcap.com">info@elconcap.com</a></p>
                        <p>Add：No. 1-1, Yingbin Road, Ruyuan Yaozu Autonomous County,Shaoguan, Zip 512000 China</p>
                    </address>
                </div>
                <div class="col-xs-6">
                    <address>
                        <p><strong>Shenzhen pri-tronics Electronic Technology Co. Ltd.</strong></p>
                        <p>Tel : 0755-26556201</p>
                        <p>FAX : 0755-26556250</p>
                        <p>Web：www.elconcap.com</p>
                        <p>E-mail：<a href="mailto:#info@pri-tronics.com">info@pri-tronics.com</a></p>
                        <p>Add：Room 302, Building 33, ShaHe Industrial Park, BaiShiZhou, Nanshan,Shenzhen, Zip 518000 China</p>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <p><strong>Dongguan Maokang Electronics Co., Ltd.</strong></p>
                        <p>Tel : 0 769-82931619</p>
                        <p>Fax : 0769-89032491</p>
                        <p>E-mail：<a href="mailto:#jinguofu.2008@163.com">jinguofu.2008@163.com</a></p>
                        <p>Add：2 A, Tai Po Garden, Xinghuacun A5, Xiegang town, Dongguan, Zip 523590 China</p>
                    </address>
                </div>
                <div class="col-xs-6">
                    <address>
                    <p><strong>GTC Technologies Corporation</strong></p>
                    <p>Tel：886-2-25147896</p>
                    <p>Fax：886-2-25147893</p>
                    <p>E-mail：<a href="mailto:#sales@gtc-tech.com">sales@gtc-tech.com</a></p>
                    <p>Add：Rm.1426, 14F. No. 144, Sec. 3, Ming Chuan East Road, Taipei 105, Taiwan</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
