<div ng-controller="MainController as main" class="home">
    <div class="row">
                    <uib-carousel class="carousel" interval="myInterval" active="activeSlide">
                        <uib-slide ng-repeat="slide in main.slides" index="$index">
                            <div class="text-box hidden-xs hidden-sm">{{slide.text}} <br>
                                <a href="{{slide.link}}">
                                    <button class="btn-learn">{{slide.button}}</button>
                                </a>
                            </div>
                            <img ng-src="{{slide.image}}?{{$index}}" alt="{{slide.alt}}">
                            <div class="carousel-caption">
                            </div>
                        </uib-slide>
                    </uib-carousel>
    </div>
    <div class="row text-center galleries">
        <div class="col-xs-12">
            <h1 class="title-line"><span>Facility Galleries</span></h1>
            <h4>Modern Equipments and Controlled Environment</h4>
                <ul class="list-inline list-unstyled">
                <li ng-repeat="gallery in main.galleries">
                    <img class="img-responsive" src="{{gallery.image}}" alt="{{gallery.alt}}">
                </li>
                    </ul>
            </div>
        </div>
    </div>
    </div>
