<div ng-controller="MainController" class="home">
    <div class="row text-center">
        <div class="col-xs-12">
            <div class="carousel">
                    <uib-carousel interval="myInterval" active="activeSlide">
                        <uib-slide ng-repeat="slide in slides" index="$index">
                            <img ng-src="{{slide.image}}?{{$index}}" style="margin:auto;" alt="{{slide.alt}}">
                            <div class="carousel-caption">
                            </div>
                        </uib-slide>
                    </uib-carousel>
            </div>

</div>
    </div>

    <!--about section-->
    <div class="about">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center"><span>About US</span></h1>
                <h4>Elcon Electronics manufactures high-quality aluminum electric capacitors for use in consumer
                    electronics, communication technology, LED lighting, medical equipment, automotive electronics, and
                    many other fields. We have been manufacturing since 1990. Our head office is located in ShaoKwan with a factory
                    spanning 40,000 sq. m. We employ a team of over 400 employees.
                    Elcon is constantly involved in the development, production, and sales of aluminum capacitors that
                    are essential for electronic equipment.
                    With more than 25 years of experience in designing and manufacturing:
                    We have established a strict process of quality inspection to ensure our products are superior.
                    Our manufacturing technology is well-developed and stable.
                    Our core business philosophy is “Dare First, Integrity, and Win-Win”. With the efforts of our
                    highly-competent staff, we continuously strengthen our core competitive advantages in this industry.
                    We strive to provide our clients with outstanding customer service and high-quality products.
                    We are committed to creating a model business enterprise through our well-trained staff and embrace
                    a customer centric mentality.</h4>
            </div>
        </div>
    </div>
    <!--history section-->
    <div class="history">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center"><span>History</span></h1>
                <div class="col-lg-12">
                    <ul class='timeline'>
                        <li class='event up'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>Established Aijiang Industrial Co., Ltd .
                                        Founded Lingda Electronics Co., Ltd. in Yangzhou.</p>
                                </div>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class='date'>1990</div>
                        </li>
                        <li class='event down'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>
                                        Founded Aigao Electronics Co. Ltd in Nanjing.
                                        Established the Meijiang Electronics Co. Ltd. in Dongguan Huang Jiang.(Passed
                                        certification of THOMSO from France）
                                    </p>
                                </div>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class='date'>1994</div>
                        </li>
                        <li class='event up'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>Cooperated with SHOEI and supply OEM service for SHOEI, mainly for Japanese
                                        customers.</p>
                                </div>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class='date'>1995</div>
                        </li>
                        <li class='event down'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>Cooperated with several Japan cooperation with OEM service, including SOSHIN,
                                        TOSHIN, SHOEI, NIC and so on.
                                </div></p>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class="date">1996</div>
                        </li>
                        <li class='event up'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>The establishment of the Shenzhen Aijiang Electronics Co. Ltd.</p>
                                </div>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class="date">1998</div>
                        </li>
                        <li class='event down'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>Established Dongguan Ai Jiang Electronics Factory.</p>
                                </div>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class="date">2000</div>
                        </li>
                        <li class='event up'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>Established Dongguan Li Jiang factory.</p>
                                </div>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class="date">2002</div>
                        </li>
                        <li class='event down'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>Begin the Research and production of Polymer aluminum electric capacitors.</p>
                                </div>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class="date">2004</div>
                        </li>
                        <li class='event up'>
                            <div class='content'>
                                <div class="avatar">
                                    <p>Completed the resources integration and founded Shaoguan Fushida Electronic
                                        Technology Co. Ltd. in Guangdon Province as our new production base.</p>
                                </div>
                            </div>
                            <div class="dot">
                                <span class='circle'></span>
                            </div>
                            <div class="date">2014</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="certificate">
        <div class="row text-center">
            <div class="col-xs-12">
                <h1><span>Certificates</span></h1>
                <h4>We Are a Certified Supplier Of Aluminum Electrolytic Capacitors</h4>
                <img ng-src="{{certificate.image}}" alt="{{certificate.name}}">
            </div>
        </div>
    </div>
    <!--<div class="jumbotron text-center">-->
    <!--<h1>'Allo, 'Allo!</h1>-->
    <!--<p class="lead">-->
    <!--<br>-->
    <!--Always a pleasure scaffolding your apps.-->
    <!--</p>-->
    <!--<p class="animated infinite" ng-class="main.classAnimation">-->
    <!--<button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>-->
    <!--</p>-->
    <!--<p>-->
    <!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
    <!--</p>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">-->
    <!--<div class="thumbnail">-->
    <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
    <!--<div class="caption">-->
    <!--<h3>{{ awesomeThing.title }}</h3>-->
    <!--<p>{{ awesomeThing.description }}</p>-->
    <!--<p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>

