/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$main-green: #018B3E;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

$bg: #fffff0;
$line: #BADA55;
$red: #f98262;
$date: black;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
}

a {
  color: black;
}

a:hover, a:focus {
  color: $main-green;
  text-decoration: none;
  cursor: pointer;
}

nav {
  font-size: 2em;
  margin: 0;
  border: 1px solid white;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.slide {
  width: 100%;
  overflow:hidden;
  position: relative;
}

.slideShow ul {
  margin: 0;
  padding: 0;
}

.slideShow li {
  list-style: none;
  width: 100%;
}

.slideShow img {
  width: 100%;
}

//about
.about {
  padding: 50px;
}

.about h4 {
  line-height: 2em;
  color: #999999;
}

.about h1 {
  margin: 30px 0;
}

//history
.history {
  background-color: #F2F2F2;
  padding: 30px;
  height: 50rem;
}

.history ul {
  line-height: 2em;
  color: #787878;
}

//timeline

.timeline {
  list-style: none;
  width: 100%;
  height: 200px;
  margin: 200px 0 0;
  border-top: 6px solid $line;
  display: table;
  border-spacing: 30px 0;
  li {
    display: table-cell;
    position: relative;
    min-width: 100px;
  }
}
.circle {
  margin: 0 auto;
  top: -14px;
  left: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: $bg;
  border: 6px solid $red;
  border-radius: 50%;
  display: block;
  position: absolute;
}
.date {
 font-size: 1.5em;
}
.content {
  text-align: center;
  position: relative;

}
//.avatar {
//  width: 150px;
//  height: 150px;
//  display: block;
//  //border-radius: 50%;
//  border: 1px solid $line;
//  position: absolute;
//  margin: 0 auto;
//  left: 0;
//  right: 0;
//  text-align: center;
//  line-height: 30px;
//  background: $bg;
//}

.content:before {
  content: '';
  width: 50px;
  height: 100px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
}
//li.down {
//  .content {
//    margin-bottom: -106px;
//    &:before {
//      border-left: 4px solid $red;
//    }
//    .avatar {
//      top: 80px;
//      left: 100px;
//    }
//  }
//}
li.down {
  .content {
    margin-bottom: -106px;
    &:before {
      border-left: 4px solid $red;
      margin-top: -98px;
    }
  }
  .date {
    margin-top: -200px;
  }
  .circle {
    margin-top: 12px;
  }
  .avatar {
    background: $bg;
    margin-top: 115px;
  }
}


li.up {
  .content {
    margin-top: -106px;
    &:before {
      border-left: 4px solid $red;
      margin-top: 145px;
    }
  }
  .date {
    margin-top: 63px;
  }
  .circle {
    margin-top: -11px;
  }
  .avatar {
    background: $bg;
    margin-top: -270px;
  }
}










/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
