/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$main-green: #018B3E;
$dark-gray: #363636;
$light-gray: #F2F2F2;
$text-color: #999999;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

$bg: #fffff0;
$line: #BADA55;
$red: #f98262;
$date: black;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  color: black;
  overflow-x: hidden;
}

h1, h2 {
  color: $dark-gray;
  letter-spacing: 3px;
}
h3, h4 {
  letter-spacing: 2px;
}

h1.title-line:before {
  background-color: $main-green;
  content: "";
  position: absolute;
  left: 35%;
  top: 20px;
  height: 1px;
  width: 30%;
  z-index: 1;
}
  a:hover, a:focus {
    cursor: pointer;
  }

  .active {
    background-color: $dark-gray;
  }

  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
//home

.home {
  h1 {
    margin: 30px 0;
    position: relative;
  }
}
.carousel {
  width: 100%;
  overflow: hidden;
  height: 600px !important;
  position: relative;
  z-index: 1;
  //.item {
  //  opacity: 0.5;
  //  -webkit-transition-property: opacity;
  //  -moz-transition-property: opacity;
  //  -o-transition-property: opacity;
  //  transition-property: opacity;
  //}
  //.active {
  //  opacity: 3;
  //}
  img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .left.carousel-control, .glyphicon.glyphicon-chevron-left,
  .glyphicon.glyphicon-chevron-right, .right.carousel-control {
    display: none;
  }
  ol.carousel-indicators > li {
    margin-right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  .text-box {
    z-index: 15;
    position: absolute;
    width: 40rem;
    background-color: rgba(0,0,0, 0.7);
    top: 40%;
    left: 15%;
    color: $main-green;
    font-size: 1.7em;
    font-weight:bold;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 1.5rem;
    border-radius: 5px;
  }
  .text-box .btn-learn {
    font-size: 1em;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px;
    margin: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
  }
  .text-box .btn-learn:hover {
    color: $main-green;
    border: 2px solid $main-green;
  }
}
//about
.about {
  padding: 3rem;
  h1 {
    margin-bottom: 50px;
  }
  h1.title-line:before {
    background-color: $main-green;
    content: "";
    position: absolute;
    left: 35%;
    top: 20px;
    height: 1px;
    width: 30%;
    z-index: 1;
  }
    span {
      background-color: white;
      padding: 0 20px;
      z-index: 2;
      position: relative;
    }
    h4 {
      line-height: 2em;
      color: #999999;
      font-size: 1.5em;
    }

  }

//history
.history {
  background-color: $light-gray;
  padding: 3rem;
  height: 75rem;
  h1 {
    margin-bottom: 100px;
  }
  h1 span {
    background-color: $light-gray;
    padding: 0 20px;
    z-index: 2;
    position: relative;
  }
  ul {
    line-height: 2em;
    color: #787878;
  }
}
//timeline

.timeline {
  list-style: none;
  width: 100%;
  margin: 200px 0 0;
  border-top: 6px solid $line;
  display: table;
  li {
    display: table-cell;
    position: relative;
    min-width: 100px;
  }
}

span.circle {
  margin: 0 auto;
  top: -14px;
  left: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: $bg;
  border: 6px solid $red;
  border-radius: 50%;
  display: block;
  position: absolute;
}
.date {
  font-size: 1.5em;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 161px;

}
.content {
  text-align: center;
  position: relative;
}

.avatar {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 125px;
  text-align: center;
  padding: 5px;
  background-color: white;
  border: 2px solid $red;
}

.content:before {
  content: '';
  width: 50px;
  height: 160px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
}

li.down {
  .content {
    margin-bottom: -115px;
    &:before {
      border-left: 4px solid $red;
      margin-top: -98px;
    }
  }
  .date {
    margin-bottom: 194px;
    margin-left: 70px;
  }
  span.circle {
    margin-top: 12px;
  }
  .avatar {
    margin-top: 116px;
  }
}

li.up {
  .content {
    top: 0;
    margin-top: 30px;
    &:before {
      border-left: 4px solid $red;
      margin-top: 55px;
    }
  }
  .date {
    margin-left: 65px;
  }
  span.circle {
    margin-top: -11px;
  }
  .avatar {
    margin-top: -270px;
  }
}

.certificate {
  padding: 3rem;


  span {
    background-color: white;
    padding: 0 20px;
    z-index: 2;
    position: relative;
  }
  h4 {
    margin-bottom: 60px;
    color: $text-color;
    font-size: 1.5em;
  }
}

/* Portrait */

@media (min-width:300px) and (max-width:450px) and (orientation: portrait) {
  .about, .certificate {
    padding: 10px;
  }

  h1, h2, h3 {
    font-size: 2em !important;
  }
  h4, h5, h6 {
    font-size: 1em !important;
  }
  ol.carousel-indicators {
    display: none;
  }
  h1.title-line:before {
    top: 10px;
    width: 80%;
    left: 10%;
  }
  .carousel {
    height: 195px !important;
  }
  .about {
    h1.title-line:before {
      top: 10px;
      width: 80%;
      left: 10%;
      height: 1px;
    }
  }
  .certificate {
    h1.title-line:before {
      top: 10px;
      width: 80%;
      left: 10%;
      height: 1px;
    }
  }
}

//landscape

@media (min-width:550px) and (max-width:750px) and (orientation: landscape) {
   .carousel {
     height: 300px !important;
   }
  .about, .certificate {
    padding: 10px;
  }
  h1, h2, h3 {
    font-size: 2em !important;
  }
  ol.carousel-indicators {
    display: none;
  }
  .about {
    h1.title-line:before {
      top: 10px;
      width: 80%;
      left: 10%;
      height: 1px;
    }
  }
  .certificate {
    h1.title-line:before {
      top: 10px;
      width: 80%;
      left: 10%;
      height: 1px;
    }
  }
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
