.career-cover {
  background: url("../assets/images/join-the-team.jpg") center no-repeat;
  background-size: 100%;
  top:0;
  color: white;
  height: 40rem;
  h1 {
    margin-top: 15%;
    margin-left: 20%;
    text-align: center;
    font-size: 5em;
    color: white;
  }
}
.career-body {
  padding: 30px;
  h4 {
    line-height: 1.5em;
    color: $dark-gray;
  }
  .create {
    background: url("../assets/images/icons/team.png") center no-repeat;
    background-size: 25rem;
    height: 25rem;
  }
  .learn {
    background: url("../assets/images/icons/learning.png") center no-repeat;
    background-size: 25rem;
    height: 25rem;
  }
  .apply{
    background: url("../assets/images/icons/build-icon.png") center no-repeat;
    background-size: 25rem;
    height: 25rem;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    color: white;
    top: 0;
    transition-property: all;
    transition-duration: 1s;
  }
}

