.product-cover {
  background: url("../assets/images/product-cover.jpg") center;
  background-size: 100%;
  height: 40rem;
  color: white;

  h1 {
    margin-top: 10%;
    margin-bottom: 20px;
    font-size: 5em;
    color: white;
  }
  .btn-learn {
    font-size: 2em;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 15px;
    margin: 20px;
  }
  .btn-learn:hover {
    color: $main-green;
    border: 2px solid $main-green;
  }
}

.product-finder {
  padding: 30px;
  h2 {
    margin-bottom: 30px;
  }
  h4 {
    margin-bottom: 30px;
  }
  .btn-learn {
    font-size: 2em;
    color: $dark-gray;
    border: 2px solid $dark-gray;
    background-color: transparent;
    width: 300px;
    padding: 15px;
    margin: 10px;
  }
  .btn-learn:hover {
    background-color: $dark-gray !important;
    border: 2px solid white;
    color: white;
  }
}
.product-category {
  padding: 30px;
  background-color: $light-gray;

  ul > li {
    margin: 10px;
    width: 400px;
    height: 230px;
  }
  .solid-chip {
    background: url("../assets/images/product/solid-chip.jpg") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .solid-lead {
    background: url("../assets/images/product/solid-lead.jpg") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .chip-type {
    background: url("../assets/images/product/chip.jpg") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .miniature {
    background: url("../assets/images/product/miniature.jpg") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .high-rip {
    background: url("../assets/images/product/high-rip.jpg") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .snap-in {
    background: url("../assets/images/product/snap-in.jpg") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .special-app {
    background: url("../assets/images/product/special-app.jpg") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  h3 {
    padding: 10px;
  }
}

.product-category h3.title {
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 100%;
  color: white;
  position: absolute;
  top: -21px;
}

//individual product category page
.all-product-header {
  background-color: $dark-gray;
  height: auto;
  padding: 30px;

  h1 {
    color: white;
  }
}
