.product-cover {
  background: url("../assets/images/product-cover-dark.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  padding: 10rem 0;

  h1 {
    margin-bottom: 20px;
    font-size: 5em;
    color: white;
    top: 0;
  }
  .btn-learn {
    font-size: 1.5em;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 15px;
    margin: 20px;
    letter-spacing: 1px;
  }
  .btn-learn:hover {
    color: $main-green;
    border: 2px solid $main-green;
  }
}

.product-finder {
  padding: 3rem;
  h2 {
    margin-bottom: 30px;
    color: $dark-gray;
  }
  h4 {
    margin-bottom: 30px;
    color: $dark-gray;
  }
  .btn-learn {
    font-size: 2em;
    color: $dark-gray;
    border: 2px solid $dark-gray;
    background-color: transparent;
    width: 300px;
    padding: 15px;
    margin: 10px;
  }
  .btn-learn:hover {
    background-color: $dark-gray !important;
    border: 2px solid white;
    color: white;
  }
}
.product-category {
  padding: 3rem;
  background-color: $light-gray;

  .product {
    margin: 20px 10px;
    height: 300px;
  }
  .solid-chip {
    background: url("../assets/images/product/solid-chip.png") no-repeat center white;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .solid-lead {
    background: url("../assets/images/product/solid-lead.png") no-repeat center white;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .chip-type {
    background: url("../assets/images/product/chip.png") no-repeat center white;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .miniature {
    background: url("../assets/images/product/miniature.png") no-repeat center white;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .high-rip {
    background: url("../assets/images/product/high-rip.png") no-repeat center white;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .snap-in {
    background: url("../assets/images/product/snap-in.png") no-repeat center white;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  .special-app {
    background: url("../assets/images/product/special-app.png") no-repeat center white;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
  }
  h3 {
    padding: 10px;
  }
}

.product-category h3.title {
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 100%;
  color: white;
  position: absolute;
  top: -21px;
}

//individual product category page
.all-product-header {
  background-color: $dark-gray;
  height: auto;
  padding: 30px;

  h1 {
    color: white;
  }
}

//portrait

@media screen and (min-device-width: 300px) and (max-device-width: 450px)
and (orientation: portrait) {
  .product-cover {
    padding: 0!important;
    height: 110px;
    h1 {
      font-size: 2em;
      margin-top: 45px;
    }
  }
  .product-category {
    .product {
      height: 180px;
      margin: 10px;
    }
    h3 {
      padding: 5px;
      font-size: 14px!important;
    }
    h3.title {
      height: 25px;
    }
  }
}

//landscape

@media (min-width:550px) and (max-width:750px) and (orientation: landscape) {
  .product-cover {
    height: 210px;
    h1 {
      margin-top: -1rem;
    }
  }
  .product-category {
    .product {
      margin: 10px;
    }
    h3 {
      padding: 16px;
      font-size: 14px!important;
    }
    h3.title {
      height: 50px;
    }
  }
}