<div ng-controller="SearchController">
     <div class="product-search">
    <div class="row text-center search-area">
    <div class="col-xs-12">
        <h1>Product Finder</h1>
        <h4>Faster Product Search With Just Series Code Or Part Numbers</h4>
        <form ng-submit="submit()" method="post" class="form-inline search-form">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="searchText" type="text" class="form-control search-bar" id="search" placeholder="Please enter series code or part number here" required>
                    <button type="submit" class="btn btn-lg">GO</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="search-results">
    <div class="row text-center">
                    <div ng-repeat="product in productList | filter: searchText" class="col-sm-3 col-md-4">
                        <div class="thumbnail">
                        <img ng-src="{{product.image}}" alt="{{product.alt}}">
                    <div class="caption">
                        <h4>Series: {{product.series}}</h4>
                        <h4>Part Number: {{product.partNumber}}</h4>
                        <h5>{{product.name}}</h5>
                        <p><a ng-href="{{product.templateUrl}}" class="btn btn-lg btn-learn" role="button">Learn More</a>
                    </div>
                </div>
                    </div>
    </div>
</div>
</div>
