<div ng-controller="SearchController">
     <div class="product-search" ng-init="initFirst()">
    <div class="row text-center search-area">
    <div class="col-xs-12">
        <h1>Product Finder</h1>
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h4>
        <form ng-submit="submit()" method="post" class="form-inline search-form">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="searchText" type="text" class="form-control search-bar" id="search" placeholder="I'm looking for...." required>
                    <button type="submit" class="btn btn-lg">GO</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="search-results">
    <div class="row text-center">
        <div class="row">
            <div class="col-sm-3 col-md-4">
                <div class="thumbnail">
                    <div ng-repeat="product in productList | filter: searchText">
                        <img src="..." alt="...">
                    <div class="caption">
                        <h3>Series: {{product.series}}</h3>
                        <h3>Part Number: {{product.partNumber}}</h3>
                        <p>{{product.name}}</p>
                        <p><a ng-href="{{product.templateUrl}}" class="btn btn-primary" role="button">PDF</a>
                    </div>
                </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
