.product-search {
  padding: 30px;
  background-color: $dark-gray;
  h1, h4 {
    color: white;
  }
  .search-form input.search-bar {
    height: 50px;
    border-radius: 4px;
    width: 400px;
    margin: 10px;
  }

  .search-form button {
    background-color: $main-green;
    color: white;
    width: 80px;
    font-size: 2em;
    border-radius: 4px;
    margin-top: 10px;
  }
  /*search button hover color*/
  .search-form button:hover {
    background-color: $main-green;
  }
}
.search-results {
  background-color: $light-gray;
  height: auto;
  padding: 30px;

  .thumbnail {
    padding: 20px;
    line-height: 1.5em;
    height: 410px;
  }
  .thumbnail img {
    width: 150px;
    height: 150px;
  }
  .thumbnail h4 {
    margin: 20px;
  }
  .thumbnail .btn-learn {
    font-size: 2em;
    color: black;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px;
    margin: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .thumbnail .btn-learn:hover {
    background-color: $dark-gray;
    border: 2px solid white;
    color: white;
  }
}
