.special-app-series {
  background-color: #E9F7F8;
  padding: 30px;
  h1 {
    margin-top: 120px;
    font-weight: bold;
  }
  h3 {
    margin: 30px 10px;
  }
  .special-app-img {
    background: url("../assets/images/product/special-app.png") no-repeat center;
    background-size: 100%;
    height: 50rem;
  }
}


